#background_header {
  background-color: #019688;
  height: 20vh;
  width: 100%;
}

#background_body {
  background-color: #e0e0e0;
  height: 80vh;
}

// chat container

#chatContainer {
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0px;
  left: 0px;
  background-color: #fff;
  margin: auto;
  width: 70%;
  height: 90%;
  box-shadow: -1px 1px 5px rgba(#333, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
    overflow: hidden;
 
    app-sidebar {
        flex-basis: 30%;
        display: block;
    }
}
